.filter-container {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;

  .genres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .selected-genre {
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    background-color: #bebebe !important;
    color: black !important;
  }

  .filter-item {
    font-size: 12px;
    color: #cdcdcd;
    background-color: #444444;
    border-radius: 40px;
    height: 20px;
    padding: 2px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #2b2b2b;
    }
  }

  .render-count {
    font-size: 15px;
    font-weight: 400;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5b5b5b;
    color: #ededed;
  }
}
