.playlist {
  width: 350px;
  height: 450px;
  padding: 20px 10px;
  background-color: #1a1a1a;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
